@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

#backgroundTable { padding-bottom: 2em; }

.pattern-details {
	max-width: 50em;
	margin: 4em auto 6em auto;
	padding: 2em 2em;
	background: url('../images/shadow.png') center top no-repeat;
	background-size: 100%;
	font-size: 1.33em;
	font-family: 'Open Sans', sans-serif;
	color: #999;
	h1, h2, h3, h4, h5, h6 { font-weight: 300; color: #333; }
	h1 { color: #3299bb; font-size: 2em; }
	h2 { margin: 1em 0 0.25em 0; }
	a {
		color: #666;
		text-decoration: none;
		-moz-transition: color 0.5s;
		-webkit-transition: color 0.5s;
		-o-transition: color 0.5s;
		transition: color 0.5s;
	}
	a:hover { color: #3299bb; }
	.code code {
		display: block;
		margin: 0;
		padding: 0.5em;
		border: 2px solid #eee;
	}
}
footer {
    z-index: 2;
    padding-bottom: 1em;
    background: #3299bb;
    background: rgba(50, 153, 187, 0.9);
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    ul {
    	margin: 0;
    	padding: 0;
    	list-style: none;
    	li {
    		padding: 0;
    		font-size: 1em;
    		a {
    			display: block;
    			padding: 1em 2.5em;
    			font-size: 0.8em;
    			color: #bbeafa;
    			text-decoration: none !important;
				-moz-transition: color 0.5s;
				-webkit-transition: color 0.5s;
				-o-transition: color 0.5s;
				transition: color 0.5s;
				-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
				&:link, &:visited { color: #bbeafa; }
				&:hover { background: rgba(50, 153, 187, 0.9); color: #fff; }
    		}
    		a[href="#"] { color: #ddd; }
    		&:first-child {
    			font-weight: bold;
    			a { border: 0; padding: 1.5em 2em 0.75em 2em; color: #fff; font-size: 1em; }
    			a:hover {
    				background: none;
    			}
    		}
    	}
    }
}
@media only screen and (min-width: 40em) {
	footer {
		ul {
			li {
				display: inline-block;
				&:first-child { display: block; }
			}
		}
	}
}
@media only screen and (min-width: 58em) {
	#backgroundTable { padding-bottom: 6em; }
	footer {
		position: fixed;
		bottom: 0;
		left: 0;
		margin: 0;
		padding: 0 0 0 2em;
		width: 100%;
		nav {
			max-width: 58.5em;
			margin: 0 auto;
			ul {
				li {
					a { padding: 1em; }
					&:first-child {
						display: inline-block;
						a { padding: 0.7em; }
					}
				}
			}
		}
	}
}