@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "compass/css3/inline-block";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body {
	background-color: #fff;
	@include background-image(linear-gradient(top, #1e5799 0%,#1e5799 0%,#edeeef 0%,#ffffff 27%,#ffffff 100%));
	background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 300;
	padding: 0 1.25em;
}

h1, h2, h3, h4, h5, h6 { font-weight: 300; }
a {
	color: #666;
	text-decoration: none;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
}
a:hover { color: #3299bb; }
a[href="#"] { color: #ddd; }
.wrap {
	max-width: 56.88em;
	margin: 0 auto;
}
.header {
	padding-bottom: 3.5em;
	margin-bottom: 2.75em;
	text-align: center;
	background: url('../images/shadow.png') center bottom no-repeat;
	background-size: 100%;
	h1 {
		margin: 1em 0 0 0;
		font-size: 2.63em;
		line-height: 1.2em;
		color: #3299bb;
	}
	p {
		font-size: 1.13em;
		color: #333333;
		margin-bottom: 0.5em;
	}
	.brad {
		margin: 0;
		font-size: 0.88em;
		color: #a29f9f;
		a { color: #a29f9f; text-decoration: underline; }
	}
}
.index {
	.header {
		h1 {
			&:before {
				content: url(../images/envelope.svg);
				display: block;
				margin-bottom: 0.2em;
			}
		}
	}
}
h2 {
	margin: 0 0 0.4em 0;
	padding-bottom: 0.4em;
	font-size: 1.5em;
	border-bottom: 1px solid #e6e9eb;
	a { color: #333; }
}
section {
	@include inline-block;
	vertical-align: top;
	width: 100%;
	margin-bottom: 3em;
	padding: 0 1em;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		padding: 0.25em 0;
		font-size: 1.13em;
		a {
			display: block;
		}
	}
}
footer {
    z-index: 2;
    margin: 0 -1.25em;
    padding-bottom: 1em;
    background: #3299bb;
    background: rgba(50, 153, 187, 0.9);
    ul {
    	li {
    		padding: 0;
    		font-size: 1em;
    		a {
    			padding: 1em 2.5em;
    			font-size: 0.8em;
    			color: #bbeafa;
				&:hover { background: rgba(50, 153, 187, 0.9); color: #fff; }
    		}
    		&:first-child {
    			font-weight: bold;
    			a { border: 0; padding: 1.5em 2em 0.75em 2em; color: #fff; font-size: 1em; }
    			a:hover {
    				background: none;
    			}
    		}
    	}
    }
}
@media only screen and (min-width: 40em) {
	footer {
		ul {
			li {
				display: inline-block;
				&:first-child { display: block; }
			}
		}
	}
}
@media only screen and (min-width: 58em) {
	footer {
		position: fixed;
		bottom: 0;
		left: 0;
		margin: 0;
		padding: 0 0 0 2em;
		width: 100%;
		nav {
			max-width: 58.5em;
			margin: 0 auto;
			ul {
				li {
					a { padding: 1em; }
					&:first-child {
						display: inline-block;
						a { padding: 0.7em; }
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 37.5em) {
	.index section { width: 49.5%; }
}
@media only screen and (min-width: 62.5em) {
	.index section { width: 33%; }
}


/* Patterns */
.demo { color: #3299bb; font-weight: bold; }
.pattern_image {
	vertical-align: top;
	.smartphone { width: 13%; }
	.tablet { width: 25%; }
	.desktop { width: 39.0625%; }
}
.pattern_support {
	table {
		width: 100%;
		tr:hover td { background: #e6e9eb; color: #111; }
		th { vertical-align: bottom; }
		td { vertical-align: top; }
		th, td {
			position: relative;
			padding: 1em 0.5em;
			text-align: left;
			border-bottom: 1px solid #e6e9eb;
			&:first-child { padding-right: 2em; }
			&:last-child { text-align: right; }
		}
		.support_level {
				padding-right: 2.75em;
				&:after {
					display: block;
					position: absolute;
					top: 1em;
					right: 0.5em;
					width: 1.4em;
					height: 1.4em;
					border-radius: 1em;
					text-align: center;
					font-weight: bold;
					color: #fff;
				}
		}
		.support_level.full:after {
			content: '√';
			background: #7ebd26;
		}
		.support_level.working:after {
			content: '—';
			background: #72d0eb;
		}
		.support_level.none:after {
			content: 'x';
			background: #f01c00;
		}
	}
}