<!doctype html>
<html>
  <head>
    <link rel="icon" type="icon" href="favicon.ico">
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.page.title || "Responsive Email Patterns" %></title>

    <%= stylesheet_link_tag "normalize", "style" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="wrap">
      <%= yield %>

      <footer>
        <nav>
          <ul>
            <li><a href="index.html">Responsive Email Patterns</a></li>
            <li><a href="support.html">Pattern Support & Testing</a></li>
            <li><a href="#">Responsive Email Resources</a></li>
            <li><a href="https://github.com/briangraves/ResponsiveEmailPatterns">Fork Me on Github</a></li>
            <li><a href="http://www.twitter.com/briangraves">@BrianGraves</a></li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>
</html>