---
title: Responsive Email Patterns
layout: pattern
pattern_name: "Show More"
pattern_desc: "A container is used to truncate text based on screen size. Once text has been truncated, a cta is used to allow for the truncated content to be viewed on request."
---

<style>
	/* Show More Pattern CSS */
	@media only screen and (max-width: 599px) {
	    table[class="pattern"] .story p {
	        max-height: 98px;
            margin-bottom: 14px;
            overflow: hidden;

	    }
        table[class="pattern"] #story1:target p,
        table[class="pattern"] #story2:target p,
        table[class="pattern"] #story3:target p {
            max-height: 999px;
        }
        table[class="pattern"] .readmore {
            position: relative;
            display: inline-block !important;
            width: auto !important;
            height: auto !important;
            max-width: inherit !important;
            max-height: inherit !important;
            overflow: visible !important;
            float: none !important;
            font-size: 12px !important;
            font-weight: bold;
            color: #999 !important;
            text-decoration: none;
            text-transform: uppercase;
        }
        table[class="pattern"] .readmore:after {
            content: '';
            position: absolute;
            top: 3px;
            right: -20px;
            display: block;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #999;
        }
	}
    @media only screen and (max-width: 500px) {
        table[class="pattern"] .story p {
            max-height: 80px;
        }
    }
    @media only screen and (max-width: 400px) {
        table[class="pattern"] .story p {
            max-height: 50px;
        }
    }
</style>

<table cellpadding="0" cellspacing="0" class="pattern">
    <tr>
        <td class="story" id="story1" width="600" align="left" valign="top" style="border-bottom: 1px dotted #999; font-family: arial,sans-serif; font-size: 14px; color: #333; padding: 0 0 16px 0;">
        	<h1 style="margin: 0;">Story 1</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros.
            </p>
            <a class="readmore" href="#story1" style="display: none; width: 0; max-height: 0; max-width: 0; height: 0; overflow: hidden; float: left; font-size: 0; color: #fff;">Read More</a>
        </td>
    </tr>
    <tr>
        <td class="story" id="story2" width="600" align="left" valign="top" style="border-bottom: 1px dotted #999; font-family: arial,sans-serif; font-size: 14px; color: #333; padding: 16px 0;">
            <h1 style="margin: 0;">Story 2</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros.
            </p>
            <a class="readmore" href="#story2" style="display: none; width: 0; max-height: 0; max-width: 0; height: 0; overflow: hidden; float: left; font-size: 0; color: #fff;">Read More</a>
        </td>
    </tr>
    <tr>
        <td class="story" id="story3" width="600" align="left" valign="top" style="font-family: arial,sans-serif; font-size: 14px; color: #333; padding: 16px 0 0 0;">
            <h1 style="margin: 0;">Story 3</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Aliquam vehicula mi at mauris. Maecenas placerat, nisl at consequat rhoncus, sem nunc gravida justo, quis eleifend arcu velit quis lacus. Morbi magna magna, tincidunt a, mattis non, imperdiet vitae, tellus. Sed odio est, auctor ac, sollicitudin in, consequat vitae, orci. Fusce id felis. Vivamus sollicitudin metus eget eros.
            </p>
            <a class="readmore" href="#story3" style="display: none; width: 0; max-height: 0; max-width: 0; height: 0; overflow: hidden; float: left; font-size: 0; color: #fff;">Read More</a>
        </td>
    </tr>
</table>