---
title: Basic Fluid Image
---

<% content_for :css do %>
<style>
	/* Basic Fluid Image Pattern CSS */
    @media only screen and (max-width: 599px) {
        td[class="pattern"] div{
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 450px;
        }
        td[class="pattern"] img {
        	position: absolute;
        	top: 0;
        	left: 50%;
        	margin-left: -300px;
        }
    }
</style>
<% end %>

<div>
	<img src="michael-jordan.jpg" alt="Michael Jordan" width="600" height="450" style="display: block; border: 0;" />
</div>