---
title: Responsive Email Patterns
layout: pattern
pattern_name: "Description Overlay Right"
pattern_desc: ""
---

<style>
  /* Description Overlay Right Pattern CSS */
</style>

<table cellpadding="0" cellspacing="0" class="container" style="position: relative;">
  <tr>
    <td class="col hero" width="405" align="left" valign="top" style="background: #fff;">
      <img src="meat.jpg" alt="" style="display: block; border: 0;">
    </td>
    <td class="col" width="215" align="left" style="background-color: #ccc; background: rgba(30,30,30,0.7); position: relative;">
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td style="padding: 20px;">
            <table cellpadding="0" cellspacing="0">
              <tr>
                <td align="left" style="font-family: arial,sans-serif; font-size: 16px; line-height: 22px; color: #fff;">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero repellat placeat excepturi omnis quae laboriosam nesciunt.
                </td>
              </tr>
              <tr>
                <td align="left" style="padding-top: 15px; font-family: arial,sans-serif; font-size: 14px; font-weight: bold;">
                  <a href="#" style="text-decoration: none; color: #fff; display: block; padding: 0 5px; width: 100px; text-align: center; line-height: 40px; background: #b61528;">CTA ></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>