---
name: Footer
---

<footer class="footer">
	<nav>
		<ul>
			<li><a class="brand" href="http://www.responsiveemailpatterns.com">Responsive Email Patterns</a></li>
			<li><a href="http://www.responsiveemailresources.com">Responsive Email Resources</a></li>
			<li><a href="http://www.responsiveemailpatterns.com/support.html">Pattern Support</a></li>
			<li><a href="https://github.com/briangraves/ResponsiveEmailPatterns">Fork on Github</a></li>
			<li><a href="http://www.twitter.com/briangraves">@BrianGraves</a></li>
		</ul>
	</nav>
</footer>