---
name: Interior Header
---

<header class="header interior">
	<div class="wrap">
		<a class="logo" href="http://www.responsiveemailpatterns.com">
			<img src="http://briangraves.github.io/ResponsiveEmailPatterns/images/envelope.svg" alt="" width="20" />
			<h1>Responsive Patterns</h1>
		</a>

		<% if data.page.layout == "pattern" %>
			<!--<a id="source" href="#patternSource" class="button source">
				<img src="../../images/source.svg" alt="" width="32" />
				<h1>Source</h1>
			</a>-->
			<a id="context" href="#" class="button context">
				<img src="../../images/context.svg" alt="" width="20" />
				<h1>Context</h1>
			</a>
		<% end %>

	</div>
</header>