<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <title>Responsive Email Patterns</title>
        <link rel="icon" type="icon" href="images/favicon.png">
        <link href="../../stylesheets/all.css" media="screen" rel="stylesheet" type="text/css" />
        <script src="../../javascripts/plugins/modernizr.js" type="text/javascript"></script>
<script src="../../javascripts/init.js" type="text/javascript"></script>
    </head>
    <body class="patterns patterns_layout patterns_layout_3-equal-width-columns">
        
        <header class="header interior">
	<div class="wrap">
		<a href="http://www.responsiveemailpatterns.com">
			<img src="http://briangraves.github.io/ResponsiveEmailPatterns/images/envelope.svg" alt="" width="20" />
			<h1>Responsive Patterns</h1>
		</a>
	</div>
</header>
        
        <section class="main">
            <div class="wrap">
                    <section class="pattern_wrap">
        <style>
    /* 3 equal-width columns Layout Pattern CSS */
    @media only screen and (max-width: 599px) {
        td[class="pattern"] table { width: 100%; }
        td[class="pattern"] .col{
            width: 33%;
        }
    }
    @media only screen and (max-width: 500px) {
        td[class="pattern"] .col{
            width: 100%;
            display: block;
        }
        td[class="pattern"] .col-left,
        td[class="pattern"] .col-mid {
            margin-bottom: 20px;
        }
    }
</style>


<table cellpadding="0" cellspacing="0">
    <tr>
        <td class="pattern" width="600" align="center" style="padding: 30px 0; border-top: 1px solid #999; border-bottom: 1px solid #999;">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td class="col col-left" width="200" align="left" valign="top">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="left" style="padding: 0 10px;">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="left" style="font-family: georgia,serif; font-size: 26px; font-weight: bold; text-transform: uppercase; color: #333;">
                                                Column One
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-family: arial,sans-serif; font-size: 14px; color: #666; border-bottom: 1px dotted #999; padding: 20px 0;">
                                                <strong style="font-size: 16px;">This is a headline</strong><br />
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><br />
                                                <a href="#" style="text-decoration: none; font-style: georgia,serif; font-weight: bold; color: #333;">Check It Out »</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-family: arial,sans-serif; font-size: 14px; color: #666; border-bottom: 1px dotted #999; padding: 20px 0;">
                                                <strong style="font-size: 16px;">This is a headline</strong><br />
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><br />
                                                <a href="#" style="text-decoration: none; font-style: georgia,serif; font-weight: bold; color: #333;">Check It Out »</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-family: arial,sans-serif; font-size: 14px; color: #666; border-bottom: 1px dotted #999; padding: 20px 0;">
                                                <strong style="font-size: 16px;">This is a headline</strong><br />
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><br />
                                                <a href="#" style="text-decoration: none; font-style: georgia,serif; font-weight: bold; color: #333;">Check It Out »</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="col col-mid" width="200" align="center" valign="top">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="left" style="padding: 0 10px;">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="left" style="font-family: georgia,serif; font-size: 26px; font-weight: bold; text-transform: uppercase; color: #333;">
                                                Column Two
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-family: arial,sans-serif; font-size: 14px; color: #666; border-bottom: 1px dotted #999; padding: 20px 0;">
                                                <strong style="font-size: 16px;">This is a headline</strong><br />
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><br />
                                                <a href="#" style="text-decoration: none; font-style: georgia,serif; font-weight: bold; color: #333;">Check It Out »</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-family: arial,sans-serif; font-size: 14px; color: #666; border-bottom: 1px dotted #999; padding: 20px 0;">
                                                <strong style="font-size: 16px;">This is a headline</strong><br />
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><br />
                                                <a href="#" style="text-decoration: none; font-style: georgia,serif; font-weight: bold; color: #333;">Check It Out »</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-family: arial,sans-serif; font-size: 14px; color: #666; border-bottom: 1px dotted #999; padding: 20px 0;">
                                                <strong style="font-size: 16px;">This is a headline</strong><br />
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><br />
                                                <a href="#" style="text-decoration: none; font-style: georgia,serif; font-weight: bold; color: #333;">Check It Out »</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="col" width="200" align="center" valign="top">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="left" style="padding: 0 10px;">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="left" style="font-family: georgia,serif; font-size: 26px; font-weight: bold; text-transform: uppercase; color: #333;">
                                                Column Three
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-family: arial,sans-serif; font-size: 14px; color: #666; border-bottom: 1px dotted #999; padding: 20px 0;">
                                                <strong style="font-size: 16px;">This is a headline</strong><br />
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><br />
                                                <a href="#" style="text-decoration: none; font-style: georgia,serif; font-weight: bold; color: #333;">Check It Out »</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-family: arial,sans-serif; font-size: 14px; color: #666; border-bottom: 1px dotted #999; padding: 20px 0;">
                                                <strong style="font-size: 16px;">This is a headline</strong><br />
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><br />
                                                <a href="#" style="text-decoration: none; font-style: georgia,serif; font-weight: bold; color: #333;">Check It Out »</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-family: arial,sans-serif; font-size: 14px; color: #666; border-bottom: 1px dotted #999; padding: 20px 0;">
                                                <strong style="font-size: 16px;">This is a headline</strong><br />
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><br />
                                                <a href="#" style="text-decoration: none; font-style: georgia,serif; font-weight: bold; color: #333;">Check It Out »</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
    </section>

            </div>
        </section>

        <footer class="footer">
	<nav>
		<ul>
			<li><a class="brand" href="http://www.responsiveemailpatterns.com">Responsive Email Patterns</a></li>
			<li><a href="http://www.responsiveemailprocess.com">Responsive Email Process</a></li>
			<li><a href="http://www.responsiveemailresources.com">Responsive Email Resources</a></li>
			<li><a href="https://github.com/briangraves/ResponsiveEmailPatterns">Fork on Github</a></li>
			<li><a href="http://www.twitter.com/briangraves">@BrianGraves</a></li>
		</ul>
	</nav>
</footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="../../javascripts/all.js" type="text/javascript"></script>
    </body>
</html>
