<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <title>Responsive Email Patterns</title>
        <link rel="icon" type="icon" href="images/favicon.png">
        <link href="../../stylesheets/all.css" media="screen" rel="stylesheet" type="text/css" />
        <script src="../../javascripts/plugins/modernizr.js" type="text/javascript"></script>
<script src="../../javascripts/init.js" type="text/javascript"></script>
    </head>
    <body class="patterns patterns_layout patterns_layout_source-order-shift">
        
        <header class="header interior">
	<div class="wrap">
		<a class="logo" href="http://www.responsiveemailpatterns.com">
			<img src="http://briangraves.github.io/ResponsiveEmailPatterns/images/envelope.svg" alt="" width="20" />
			<h1>Responsive Patterns</h1>
		</a>

		
			<!--<a id="source" href="#" class="button source">
				<img src="../../images/source.svg" alt="" width="32" />
				<h1>Source</h1>
			</a>-->
			
			<a id="context" href="#" class="button context">
				<img src="../../images/context.svg" alt="" width="20" />
				<h1>Context</h1>
			</a>
		

	</div>
</header>
        
        <section class="main">
            <div class="wrap">
                    <section class="pattern-wrap">
		<div class="pattern-header ">
			<div class="pattern-logo">
				<a href="#"><img src="http://placehold.it/156x46&text=Logo" alt="" style="display: block; border: 0;" /></a>
			</div>
			<div class="pattern-nav">
				
				<a href="#">Navigation Item</a>
				
				<a href="#">Navigation Item</a>
				
				<a href="#">Navigation Item</a>
				
				<a href="#">Navigation Item</a>
				
				<a href="#">Navigation Item</a>
				
			</div>
		</div>

        <style>
	/* Source Order Shift Layout Pattern CSS */
	@media only screen and (max-width: 599px) {
        td[class="pattern"] .product_image img {
            width: 100%;
            height: auto !important;
        }
	}
    @media only screen and (max-width: 460px) {
        td[class="pattern"] .product { padding: 20px !important; }
        td[class="pattern"] .product_description {
            padding-right: 0 !important;
            width: 100%;
        }
        td[class="pattern"] .product_image { display: none; }
        td[class="pattern"] .product_image_small {
            display: table-cell !important;
            width: 100% !important;
            height: auto !important;
            max-height: inherit !important;
            overflow: visible !important;
            float: none !important;
            padding-bottom: 10px;
        }
        td[class="pattern"] .product_image_small img {
            width: 100%;
            display: block !important;
        }
    }
</style>

<table cellpadding="0" cellspacing="0">
    <tr>
        <td class="pattern" width="600" style="background: #d8d8d8;">
            <table cellpadding="0" cellspacing="0">
                
                <tr>
                    <td class="product" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 20px;">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="product_image_small" style="display: none; width: 0; height: 0; max-height: 0; overflow: hidden; float: left;">
                                    <img src="http://placehold.it/400x180" alt="" style="display: none; border: 0;" />
                                </td>
                            </tr>
                            <tr>
                                <td class="product_description" width="285" align="left">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="left" style="font-family: arial,sans-serif; font-size: 16px; color: #333; padding-right: 20px;">
                                                This is a Product Title<br />
                                                <strong style="font-size: 20px; color: #d21a22;">$XXXX.XX</strong><br />
                                                <span style="font-size: 12px;">product description here</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="product_image" width="285"><img src="http://placehold.it/400x180" width="285" alt="" style="display: block; border: 0;" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                <tr>
                    <td class="product" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 20px;">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="product_image_small" style="display: none; width: 0; height: 0; max-height: 0; overflow: hidden; float: left;">
                                    <img src="http://placehold.it/400x180" alt="" style="display: none; border: 0;" />
                                </td>
                            </tr>
                            <tr>
                                <td class="product_description" width="285" align="left">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="left" style="font-family: arial,sans-serif; font-size: 16px; color: #333; padding-right: 20px;">
                                                This is a Product Title<br />
                                                <strong style="font-size: 20px; color: #d21a22;">$XXXX.XX</strong><br />
                                                <span style="font-size: 12px;">product description here</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="product_image" width="285"><img src="http://placehold.it/400x180" width="285" alt="" style="display: block; border: 0;" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                <tr>
                    <td class="product" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 20px;">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="product_image_small" style="display: none; width: 0; height: 0; max-height: 0; overflow: hidden; float: left;">
                                    <img src="http://placehold.it/400x180" alt="" style="display: none; border: 0;" />
                                </td>
                            </tr>
                            <tr>
                                <td class="product_description" width="285" align="left">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="left" style="font-family: arial,sans-serif; font-size: 16px; color: #333; padding-right: 20px;">
                                                This is a Product Title<br />
                                                <strong style="font-size: 20px; color: #d21a22;">$XXXX.XX</strong><br />
                                                <span style="font-size: 12px;">product description here</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="product_image" width="285"><img src="http://placehold.it/400x180" width="285" alt="" style="display: block; border: 0;" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
                <tr>
                    <td class="product" style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 20px;">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="product_image_small" style="display: none; width: 0; height: 0; max-height: 0; overflow: hidden; float: left;">
                                    <img src="http://placehold.it/400x180" alt="" style="display: none; border: 0;" />
                                </td>
                            </tr>
                            <tr>
                                <td class="product_description" width="285" align="left">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="left" style="font-family: arial,sans-serif; font-size: 16px; color: #333; padding-right: 20px;">
                                                This is a Product Title<br />
                                                <strong style="font-size: 20px; color: #d21a22;">$XXXX.XX</strong><br />
                                                <span style="font-size: 12px;">product description here</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="product_image" width="285"><img src="http://placehold.it/400x180" width="285" alt="" style="display: block; border: 0;" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
            </table>
        </td>
    </tr>
</table>

        <div class="pattern-footer">
        	<p>
        		This email was sent by: Your Company Here<br />
        		4822 West 62nd Street Mission, KS 66205<br /><br />
        		<a href="#" style="color: #999;">Preferences</a> | <a href="#" style="color: #999;">Unsubscribe</a>
        	</p>
		</div>
    </section>

    <!--
    <section class="pattern-desc">
    	<h1>Source Order Shift</h1>
    	<p></p>
    </section>
    -->

            </div>
        </section>

        <footer class="footer">
	<nav>
		<ul>
			<li><a class="brand" href="http://www.responsiveemailpatterns.com">Responsive Email Patterns</a></li>
			<li><a href="http://www.responsiveemailresources.com">Responsive Email Resources</a></li>
			<li><a href="http://www.responsiveemailprocess.com">Responsive Email Process</a></li>
			<li><a href="https://github.com/briangraves/ResponsiveEmailPatterns">Fork on Github</a></li>
			<li><a href="http://www.twitter.com/briangraves">@BrianGraves</a></li>
		</ul>
	</nav>
</footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="../../javascripts/all.js" type="text/javascript"></script>
    </body>
</html>
