@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
/* line 7, style.css.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 8, style.css.scss */
body {
  background-color: #fff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF1E5799', endColorstr='#FFFFFFFF');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1e5799), color-stop(0%, #1e5799), color-stop(0%, #edeeef), color-stop(27%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #1e5799 0%, #1e5799 0%, #edeeef 0%, #ffffff 27%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #1e5799 0%, #1e5799 0%, #edeeef 0%, #ffffff 27%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #1e5799 0%, #1e5799 0%, #edeeef 0%, #ffffff 27%, #ffffff 100%);
  background-image: linear-gradient(top, #1e5799 0%, #1e5799 0%, #edeeef 0%, #ffffff 27%, #ffffff 100%);
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 300;
  padding: 0 20px;
  margin-bottom: 5em; }

/* line 20, style.css.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/* line 21, style.css.scss */
a {
  color: #666;
  text-decoration: none;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }

/* line 29, style.css.scss */
a:hover {
  color: #3299bb; }

/* line 30, style.css.scss */
.wrap {
  max-width: 56.88em;
  margin: 0 auto; }

/* line 34, style.css.scss */
.header {
  padding-bottom: 3.5em;
  margin-bottom: 2.75em;
  text-align: center;
  background: url("../images/shadow.png") center bottom no-repeat;
  background-size: 100%; }
  /* line 40, style.css.scss */
  .header h1 {
    margin: 1em 0 0 0;
    font-size: 2.63em;
    line-height: 1.2em;
    color: #3299bb; }
    /* line 45, style.css.scss */
    .header h1:before {
      content: url(../images/envelope.png);
      display: block;
      margin-bottom: 0.2em; }
  /* line 51, style.css.scss */
  .header p {
    font-size: 1.13em;
    color: #333333;
    margin-bottom: 0.5em; }
  /* line 56, style.css.scss */
  .header .brad {
    margin: 0;
    font-size: 0.88em;
    color: #a29f9f; }
    /* line 60, style.css.scss */
    .header .brad a {
      color: #a29f9f;
      text-decoration: underline; }

/* line 64, style.css.scss */
h2 {
  margin: 0 0 0.4em 0;
  padding-bottom: 0.4em;
  font-size: 1.5em;
  border-bottom: 1px solid #e6e9eb; }
  /* line 69, style.css.scss */
  h2 a {
    color: #333; }

/* line 71, style.css.scss */
section {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 100%;
  margin-bottom: 3em;
  padding: 0 1em; }

/* line 78, style.css.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  /* line 82, style.css.scss */
  ul li {
    padding: 0.25em 0;
    font-size: 1.13em; }
    /* line 85, style.css.scss */
    ul li a {
      display: block; }

@media only screen and (min-width: 37.5em) {
  /* line 91, style.css.scss */
  section {
    width: 49.5%; } }
@media only screen and (min-width: 62.5em) {
  /* line 94, style.css.scss */
  section {
    width: 33%; } }
