---
title: Off Canvas Left
---

<% content_for :css do %>
<style>
	/* Off Canvas Left Pattern CSS */
	@media only screen and (max-width: 599px) {
        td[class="pattern"] table { width: 100%; }
        td[class="pattern"] .wrap {
            position: relative;
        }
        td[class="pattern"] #left-col {
            width: 250px;
            height: 100%;
            position: absolute;
            top: 0;
            left: -280px;
        }
        td[class="pattern"] #left-col:target {
            position: relative;
            left: 0;
        }
        td[class="pattern"] #right-col {
        }
	}
</style>
<% end %>

<table cellpadding="0" cellspacing="0">
    <tr>
        <td width="600" align="center" style="padding: 30px 0; border-top: 1px solid #999; border-bottom: 1px solid #999;">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td class="wrap">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td id="left-col" width="250" style="background: #ababab; padding: 10px;">asdf</td>
                                <td id="right-col" style="padding: 10px;">asdf</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>