---
title: Responsive Email Patterns
layout: interior
buttons: false
---

<div class="form">
	<h1>Thanks for submitting your Pattern!</h1>
	<div class="submit">
		<a class="button" href="submit-pattern.html">Submit Another Pattern</a>
	</div>
</div>