---
title: Responsive Email Patterns
---

<header class="header">
	<h1>Pattern Name</h1>
	<p class="pattern_image">
		<img class="smartphone" src="http://placehold.it/100x200&text=Phone" alt="" />
		<img class="tablet" src="http://placehold.it/192x200&text=Tablet" alt="" />
		<img class="desktop" src="http://placehold.it/300x200&text=Desktop" alt="" />
	</p>
	<p>This is a description of the pattern</p>
	<p>
		<a href="http://codepen.io/briangraves/full/Kmluo" class="demo">View Demo</a>
	</p>
</header>

<section class="considerations">
	<h2>Considerations</h2>
	<p>
		This pattern is great!
	</p>
</section>

<section class="inthewild">
	<h2>In The Wild</h2>
	<p>
		<a href="http://www.google.com">Crocs!</a>
	</p>
</section>
