---
title: Responsive Email Resources
---

<header class="header">
	<h1>Resources</h1>
	<p>Resources to help in the design and creation of Responsive Emails</p>

</header>

<section id="layout">
	<h2><a href="#layout">General Responsive</a></h2>
	<ul>
		<li><a href="http://alistapart.com/article/responsive-web-design">Responsive Web Design</a></li>
		<li><a href="http://www.abookapart.com/products/responsive-web-design">Responsive Web Design Book</a></li>
		<li><a href="http://bradfrost.github.com/this-is-responsive/index.html">This is Responsive.</a></li>
		<li><a href="http://blog.teamtreehouse.com/beginners-guide-to-responsive-web-design">Beginner's Guide to Responsive Web Design</a></li>
		<li><a href="http://coding.smashingmagazine.com/2011/01/12/guidelines-for-responsive-web-design/">Responsive Web Design: What It Is and How To Use It</a></li>
		<li><a href="http://www.degdigital.com/blog/reflecting-on-responsive-wireframes/">Reflecting on Responsive Wireframes</a></li>
		<li><a href="http://www.lukew.com/ff/entry.asp?933">Mobile First</a></li>
		<li><a href="http://adactio.com/journal/4523/">Content First</a></li>
		<li><a href="http://www.slideshare.net/pkattera/design-process-for-responsive-web-design">Design Process In the Responsive Age</a>
	</ul>
</section>

<section id="email-specific">
	<h2><a href="#navigation">Email Specific</a></h2>
	<ul>
		<li><a href="http://www.degdigital.com/blog/mobile-email-is-here-are-you-ready/">Mobile Email Is Here. Are You Ready?</a></li>
		<li><a href="http://www.campaignmonitor.com/guides/mobile/">Campaign Monitor: Responsive Email Design Guide</a></li>
		<li><a href="http://mailchimp.com/resources/guides/email-on-mobile-devices/">MailChimp: Email on Mobile Devices</a></li>
		<li><a href="http://www.zurb.com/article/1075/taking-our-email-campaigns-to-a-responsiv">ZURB: Taking Email to a Responsive Level</a></li>
		<li><a href="http://www.zurb.com/playground/responsive-email-templates">ZURB: Responsive Email Templates</a></li>
		<li><a href="http://www.netmagazine.com/tutorials/build-responsive-emails">.NET: Build Responsive Emails</a></li>
		<li><a href="https://litmus.com/blog/responsive-scalable-email-design-whats-the-difference">Litmus: Responsive & Scalable Email Design</a></li>
		<li><a href="https://marketingland.com/four-responsive-email-layouts-15858">Four Responsive Email Layouts</a></li>
		<li><a href="https://marketingland.com/learning-by-example-9-more-responsive-emails-25864">Learning By Example: 9 More Responsive Emails</a></li>
		<li><a href="https://litmus.com/blog/connections-2012-key-takeaway-design-for-all-inboxes">Connections 2012: Design for ALL Inboxes</a></li>
		<li><a href="https://litmus.com/blog/webinar-email-mobile">Litmus Webinar: Email + Mobile</a></li>
		<li><a href="http://www.campaignmonitor.com/blog/post/3856/is-responsive-email-design-really-worth-it">Is responsive email design really worth it?</a></li>
		<li><a href="http://www.emaildesignreview.com/email-design-best-practice/a-note-on-responsive-email-design-1447/">A note on Responsive Email Design</a></li>
	</ul>
</section>