---
title: "Responsive Email Patterns: Submit Pattern"
layout: interior
buttons: false
---

<div class="form">
	<h1>Submit a Pattern</h1>
	<form action="https://docs.google.com/forms/d/1ndVWdFXIjM-LFLxp4MdAPp60f79XbUarS_KmdDqVKkY/formResponse?embedded=true" method="POST" id="ss-form" target="_self" onsubmit="">
		<fieldset>
			<label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_1729108410">*Pattern Name</label>
			<input type="text" name="entry.1729108410" value="" class="ss-q-short" id="entry_1729108410" dir="auto" aria-label="Pattern Name  " aria-required="true" required="" title="" placeholder="What should I call your pattern?">

			<label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_273881373">*Category</label>
			<input type="text" name="entry.273881373" value="" class="ss-q-short" id="entry_273881373" dir="auto" aria-label="*Category  " aria-required="true" required="" title="" placeholder="What category should this go under?">

			<label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_440496201">*Example Url</label>
			<input type="url" name="entry.440496201" value="" class="ss-q-short" id="entry_440496201" dir="auto" aria-label="*Example Url  " aria-required="true" required="" title="" placeholder="ex: Codepen, GitHub Gist, Litmus Scope" />
		</fieldset>

		<fieldset>
			<label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_2099126953">Your Name</label>
			<input type="text" name="entry.2099126953" value="" class="ss-q-short" id="entry_2099126953" dir="auto" aria-label="Your Name  " title="" placeholder="If you'd like to receive attribution">

			<label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_1311764690">Your Twitter Handle</label>
			<input type="text" name="entry.1311764690" value="" class="ss-q-short" id="entry_1311764690" dir="auto" aria-label="Your Twitter Handle" title="" placeholder="So I can thank you" />

			<input type="hidden" name="draftResponse" value="[,,&quot;-7020540266671912340&quot;]
			">
			<input type="hidden" name="pageHistory" value="0">

			<input type="hidden" name="fbzx" value="-7020540266671912340">
		</fieldset>

		<div class="submit">
			<input type="submit" name="submit" value="Submit Pattern" id="ss-submit">
		</div>
	</form>
</div>
