---
title: Responsive Email Patterns Support
---

<header class="header">
	<h1>Pattern Support</h1>
	<p>All patterns have been tested using either <a href="http://www.litmus.com">Litmus</a> or with real devices in the email clients listed below.</p>
	<ul>
		<li>Full Support = Fully Responsive</li>
		<li>Working = Renders Correctly at Full Width but Not Responsive</li>
		<li>None = Either the Pattern Doesn't Work or Has Yet to be Tested.</li>
	</ul>
</header>

<section class="pattern_support">
	<table>
		<tr>
			<th>Client</th>
			<th>Support Level</th>
		</tr>
		<tr>
			<td>iPhone 3GS iOS5</a></td>
			<td class="support_level full">Full</td>
		</tr>
		<tr>
			<td>iPhone 4S iOS6</td>
			<td class="support_level full">Full</td>
		</tr>
		<tr>
			<td>iPhone 5 iOS6</td>
			<td class="support_level full">Full</td>
		</tr>
		<tr>
			<td>iPhone 5s iOS7</td>
			<td class="support_level full">Full</td>
		</tr>
		<tr>
			<td>iPad iOS6</td>
			<td class="support_level full">Full</td>
		</tr>
		<tr>
			<td>iPad (Retina) iOS7</td>
			<td class="support_level full">Full</td>
		</tr>
		<tr>
			<td>iPad Mini iOS7</td>
			<td class="support_level full">Full</td>
		</tr>
		<tr>
			<td>Apple Mail 5 OS X 10.7</td>
			<td class="support_level full">Full</td>
		</tr>
		<tr>
			<td>Apple Mail 6 OS X 10.8</td>
			<td class="support_level full">Full</td>
		</tr>
		<tr>
			<td>Android 2.3 Native Client</td>
			<td class="support_level full">Full</td>
		</tr>
		<tr>
			<td>Android 4.0 Native Client</td>
			<td class="support_level full">Full</td>
		</tr>
		<tr>
			<td>Android Outlook Exchange via Native Client</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Android Gmail App</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Outlook 2000</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Outlook 2007</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Outlook 2010</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Outlook 2011 OS X 10.7</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Outlook 2013</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Gmail Chrome</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Gmail IE</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Gmail Firefox</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Hotmail/Outlook.com Chrome</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Hotmail/Outlook.com IE</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Hotmail/Outlook.com Firefox</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Yahoo! Mail Chrome</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Yahoo! Mail IE</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Yahoo! Mail Firefox</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Windows Phone 7</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Windows Mobile 6.1</td>
			<td class="support_level none">None</td>
		</tr>
		<tr>
			<td>BlackBerry OS4</td>
			<td class="support_level none">None</td>
		</tr>
		<tr>
			<td>BlackBerry OS5</td>
			<td class="support_level none">None</td>
		</tr>
	</table>
</section>