---
title: Responsive Email Patterns
---

<header class="header">
	<h1>Pattern Name</h1>
	<p class="pattern_image">
		<img class="smartphone" src="http://placehold.it/100x200&text=Phone" alt="" />
		<img class="tablet" src="http://placehold.it/192x200&text=Tablet" alt="" />
		<img class="desktop" src="http://placehold.it/300x200&text=Desktop" alt="" />
	</p>
	<p>This is a description of the pattern</p>
	<p>
		<a href="http://codepen.io/briangraves/full/Kmluo" class="demo">View Demo</a>
	</p>
</header>

<section class="pattern_support">
	<h3>Pattern Support</h3>
	<table>
		<tr>
			<th>Client</th>
			<th>Support Level</th>
		</tr>
		<tr>
			<td><a href="http://www.litmus.com/tests">iPhone 3GS iOS5</a></td>
			<td class="support_level full">Full</td>
		</tr>
		<tr>
			<td>iPhone 4S/5 iOS6</td>
			<td class="support_level full">Full</td>
		</tr>
		<tr>
			<td>iPad iOS6</td>
			<td class="support_level full">Full</td>
		</tr>
		<tr>
			<td>Android 2.3 Native Client</td>
			<td class="support_level full">Full</td>
		</tr>
		<tr>
			<td>Android 4.0 Native Client</td>
			<td class="support_level full">Full</td>
		</tr>
		<tr>
			<td>Android Outlook Exchange via Native Client</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Android Gmail App</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Windows Phone 7</td>
			<td class="support_level working">Working</td>
		</tr>
		<tr>
			<td>Windows Mobile 6.1</td>
			<td class="support_level none">None</td>
		</tr>
		<tr>
			<td>BlackBerry OS4</td>
			<td class="support_level none">None</td>
		</tr>
		<tr>
			<td>BlackBerry OS5</td>
			<td class="support_level none">None</td>
		</tr>
	</table>
</section>