<!doctype html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.page.title || "Responsive Email Patterns" %></title>

    <%= stylesheet_link_tag "normalize", "style" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="wrap">
      <%= yield %>
    </div>
  </body>
</html>